<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>plateforme de jeu</title>

        <link rel="stylesheet" href="./front/assets/css/style.css">

        <!-- Vue 3 CDN -->
        <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
    </head>
    <body>
        <header class="steam-header">
            <div class="steam-logo">Plateforme de jeux</div>

            <div class="steam-buttons">
                <button class="steam-btn">Se connecter</button>
                <button class="steam-btn steam-btn-blue">S’inscrire</button>
            </div>
        </header>

        <div id="app">
            <h1>Liste des jeux</h1>

            <div v-if="loading">Chargement…</div>

            <div v-else-if="error" style="color:red">
                Erreur : {{ error }}
            </div>

            <ul v-else>
                <li v-for="(game, i) in games" :key="i">
                    <strong>{{ game.name }}</strong>
                    <span class="description">
                        {{ game.description }}
                    </span>

                    <span class="price">
                        Prix : {{ game.price }} €
                    </span>

                    <br>
                    Publisher : {{ game.publisher_name }}
                </li>
            </ul>
        </div>
        <!--JS-->
        <script src="./front/main.js"></script>
        <script>
            App.mount('#app');
        </script>
    </body>
</html>