<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>plateforme de jeu</title>

        <link rel="stylesheet" href="./front/assets/css/style.css">

        <!-- Vue 3 CDN -->
        <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
    </head>
    <body>
    <div id="app">
            <header class="steam-header">
                <div class="steam-logo">Plateforme de jeux</div>

                <div class="steam-buttons">
                    <select class="steam-btn" id="game-select" v-model="by">
                        <option value="name">Nom</option>
                        <option value="price">Prix</option>
                    </select>
                    <input class="steam-btn" v-model="search" placeholder="Search..." />
                    <a href="http://localhost:3000/users"><button class="steam-btn steam-btn-blue">utilisateur</button></a>
                    <a href="http://localhost:3000/signin"><button class="steam-btn">Se connecter</button></a>
                    <a href="http://localhost:3000/signup"><button class="steam-btn steam-btn-blue">S’inscrire</button></a>
                </div>
            </header>

            <h1>Liste des jeux</h1>

            <div v-if="loading">Chargement…</div>

            <div v-else-if="error" style="color:red">
                Erreur : {{ error }}
            </div>

            <ul v-else-if="games.length > 0">
                <li v-for="(game, i) in games" :key="i">
                    <strong>{{ game.name }}</strong>
                    <span class="description">
                        {{ game.description }}
                    </span>

                    <span class="price">
                        Prix : {{ game.price }} €
                    </span>

                    <br>
                    Publisher : {{ game.publisher_name }}
                </li>
            </ul>
            <div v-else>
                Aucun jeu trouvé
            </div>
        </div>
        <!--JS-->
        <script src="./front/main.js"></script>
        <script>
            App.mount('#app');
        </script>
    </body>
</html>